@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login {
        width: 80vw;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(10);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario {
        float: right;
        width: 70%;
    }
    h1 {
        color: white;
    }
    p {
        margin: 20px 0px;
        color: white;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login {
        width: 950px;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(10);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario {
        float: right;
        width: 50%;
    }
    h1 {
        font-size: 2em;
        color: white;
    }
    p {
        font-size: 1em;
        margin: 20px 0px;
        color: white;
    }
}